.Home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1.3rem;

}
.Home-header .home-sidebar-container {
    width: 16rem;
}
.Home-header .home-tasks-container {
    width: 100%;
    margin-left: 4rem;

}
.Tasks-header {
    width: 100%;
    
}
.tasks-top {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    height: 3rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    
}
.task-top-middle, .task-top-time{
    background-color: rgba(0, 0, 0, 0.568);
    margin-bottom: 1px;
    
}

.task-top-time {
    border-top-left-radius: 1.5rem;
    
}
.tasks-top div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    
}
.task-top-layout {
    background-color: rgba(0, 0, 0, 0.568);
    overflow: visible;
    margin-bottom: 1px;
    border-top-right-radius: 1.5rem;
}
.task-edit-style-container {
    width: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.style-task-collapse {
    position: absolute;
    right: 21px;
    height: calc(100vh - 5.5rem);
    background-color: rgba(0, 0, 0, 0.568);
    border-bottom-right-radius: 1.5rem;
    
}
.task-edit-style-container button:hover{
    cursor: pointer;
}
.task-edit-style-container button {
    color: white;
    background: none;
    border-style: solid;
    margin: .2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    border-color: rgba(240, 248, 255, 0.411);
    background-color: rgba(2, 2, 2, 0.123)
}
.task-edit-permissions {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-style: solid;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 2rem;
    color: white;
    border-color: rgba(240, 248, 255, 0.411);
    background-color: rgba(2, 2, 2, 0.123)
}
.tasks-top-left-friend {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.568);
    margin-bottom: 1px;
    border-top-left-radius: 1.5rem;
}
.tasks-top-left-friend div {
    padding: 0rem 2rem;
}
.friend-top-task-right {
    background-color: rgba(0, 0, 0, 0.568);
    margin-bottom: 1px;
    border-top-right-radius: 1.5rem;
}
.friend-tasks-back-btn .f-t-b-btn{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: .2rem;
    border-radius: 50%;
    margin: none;
    background-color: rgba(240, 248, 255, 0.212);
}
.task-edit-permissions {
    font-size: 0.9rem;
    padding: .2rem 1rem;
}
.tasks-main {
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(0px);
    height: calc(100vh - 5.5rem);
    border-bottom-left-radius: 1.5rem;
}
.tasks-inner {
    width: max-content;
    overflow: scroll;
    width: inherit;
    max-height: calc(100vh - 7rem);
}
.task:hover {
    cursor: default;
}
rect
{
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
  z-index: 10;
}
.inner-rect {
    z-index: 100;
}
.task {
    background-color: rgb(154, 115, 218);
    width: calc(20vw + .4rem);
    max-width: 16rem;
    min-width: 12rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.25); /*OPTIONAL LATER*/
    display: flex;
    justify-content: center;
    padding: .5rem 1.5rem;
}
.task-top-snurs {
    display: flex;
    align-items: flex-start;
}
.task-date-button {
    background: none;
    border-style: none;
    color: white;
    width: 3rem;
    font-size: 1.5rem;
}

.inner-task-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-top-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-top-middle .task-selected-date {
    font-size: calc(40% + .7vw);
}
.task-title,.task-time,.task-content {
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 16rem;
}



.task-comment {
    font-size: 0.9rem;
    color:rgba(187, 187, 187, 0.795);
    font-weight:1000;
    font-style: italic;
    max-width: 16rem;

}
.task div {
    width: 100%;
}

.task-snurs {
    display: flex;
    justify-content: center;
}

.inner-task-snurs-tid {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.295);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-task-button {
    z-index: 5000;
    background-color: rgba(235, 228, 228, 0.178);
    font-size: 1.1rem;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-style: none;
    border-color: rgb(14, 7, 7);
}
.delete-task-button:hover{
    cursor: pointer;
    background-color: rgb(241, 105, 105);
    transition-duration: 200ms;
}

.task-snurs .inner-task-snurs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1rem;
}

.task-snurs h1 {
    font-size: 1.2rem;
    font-weight: 100;
}

.task-content {

}

.tasks-bot {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.inner-bot{
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
}

.add-task-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(100,122,163);
    background: linear-gradient(140deg, rgba(100,122,163,1) 0%, rgba(191,113,198,1) 100%);
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    color: white;

}
.clear-all-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(100,122,163);
    background: linear-gradient(140deg, rgb(163, 100, 100) 0%, rgb(163, 11, 57) 100%);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    color: white;
}
.newpage-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(128,255,217);
    background: linear-gradient(140deg, rgba(128,255,217,1) 0%, rgba(110,234,115,1) 100%);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    color: white;
}
.under-btn-text{
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
}

.new-task-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.new-task-nxt-btn {
    background:none;
    border-style: solid;
    border-color: rgba(163, 160, 160, 0); 
    background-color: rgb(103, 125, 167);
    width: 2rem;
    border-width: .1px;
    color: white;
    font-size: 1.4rem;
    border-radius: 50%;
    height: 2rem;
    margin-top: .2rem;
    padding: .7rem .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(69, 109, 133);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.5);
    border-width: .1px;
    margin-top: 1rem;
}
.upload-task-button p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.new-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 0rem 0rem;
    padding-bottom: 1rem;
    border-top-right-radius: 0;
    margin-right: 1rem;
}
.new-inner-task {
    background-color: rgba(26, 28, 31, 0.562); /*custom later */
    margin: .3rem 0rem;
    width: 30rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .2rem 0rem;
}

.n-t-t-h {
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    padding: 0;
    margin: 0;
    width: 50%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: 1000;
    font-size: 0.7rem;
}

.new-inner-task p {
    font-size: 1.2rem;
}
.new-task h1 {
    font-size: 1.2rem;
}

.task h1 {
    margin: 0;
}


.new-task-preview {
    border-radius: 1.5rem;
    background-color: rgba(26, 28, 31, 0.562); /*custom later */}


.time-list {
    display: flex;
    justify-content: center;
    margin-right: -.5rem;
    padding-top: 1rem;
}


.hour-list, .minute-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hour-list button, .minute-list button {
    background: none;
    width: 1.5rem;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: .1px;
    border-radius: 1rem;
    font-size: 1rem;
    margin: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem .2rem;
}
.hour-list button:hover, .minute-list button:hover {
    cursor: pointer;
}
.newtask-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.newtask-color p{
    width: 15rem;
    font-size: 1.2rem;
    z-index: 2;
    margin-bottom: 1rem;
    text-align: center;
    
}
.newtask-field-title {
    background: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-width: .1px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.newtask-form {
    width: 30rem;
}
.newtask-field {
    background: none;
    background-color: rgba(240, 248, 255, 0.055);
    max-width: 100%;
    border-style: none;
    border-bottom-style: solid;
    border-width: .1px;
    font-size: 1.2rem;
    color: white;
    font-weight: 100;
}


.newtask-field::placeholder, .newtask-field-title::placeholder {
    color: rgba(255, 255, 255, 0.212);
}
.newtask-field:focus, .newtask-field-title:focus {
    outline: none;
}
.newtask-field {
    height: 10rem;
    width: 100%;
}

