.sidebar-whole {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Sidebar-header {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: calc(93vh - 40px);
    backdrop-filter: blur(0px);
    width: calc(100% + 3rem);
    margin-top: 1.1rem;
}
.sidebar-main {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}
.Sidebar-header .inner-sb{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar-buttons-bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1rem;
    background-color: rgba(0, 0, 0, 0.568);
    width: calc(100% + 3rem);
    padding: 0.7rem 0rem;
    border-radius: 1.5rem;
}
.snurs {
    text-align: left;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic {
    margin: 0rem .5rem;
    border-radius: 50%;
    width: 3.5rem;
}
.username-container {
    display: flex;
    flex-direction: column;
}
.username{
    font-size: 1.3rem;
}
.profile-tag {
    font-size: .9rem;
    text-align: center;
    color: yellow;
}
.quick-view-todo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quick-view-todo .qvt-p {
    font-size: 1.3rem;
}
.quick-view-todo h2 {
    font-size: 1.15rem;
}
.quick-view-todo p {
    margin-top: 0.3rem;
    font-size: 1rem;
}
.currrent-todo {
    margin-top: 1rem;
    background-color: #396ed95b;
    border-radius: 2rem;
    padding: 0.6rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.ReactCollapse--collapse {
    transition: height 500ms;
  }
.contacts-title, .groups-title {
    width: 100%;
    font-size: 1.4rem;
    margin: 0rem 0rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-title .addFriend {
    background-color: rgba(255, 255, 255, 0.349);
    border-style: solid;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 50%;
    border-color: white;
    margin-right: -2rem;
    margin-left: 2rem;
    border-width: .1px;
    width: 1.4rem;
    height: 1.4rem;
}
.contacts-title .addFriend:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: rgba(255, 255, 255, 0.671);
}
.contacts div {
    width: 100%;
}
.contacts {
    width: 100%;
    height:max-content;
    max-height: 15rem;
    min-height: 3.5rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left-style: solid;
    border-width: .1px;
    overflow-y:scroll;
    overflow-x:hidden;
    white-space: nowrap;
}
     /* Designing for scroll-bar */
     ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(220, 220, 220, 0);
        border-radius: 5px;
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.205);
        border-radius: 5px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.308);
    }
.contacts-title h2{
    font-size: 1.4rem;
}
.contacts .friend{
    display:flex;
    border-style: none;
    background: none;
    width: 100%;
}
.contacts .friend:hover{
    cursor: pointer;
}
.contacts .friend-top {
    display: flex;
    grid-column: 2;
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;

}
.friend-inner {
    display:grid;
    grid-template-columns: .3fr 1fr;
    text-align: left;
    font-size: 1.2rem;
    width: calc(100% + 7rem);
    padding: 0.5rem 0rem;
    background: none;
    color: white;
}
.contacts .friend p {
    font-size: .8rem;
    color:rgb(150, 150, 150);
    font-weight: 100;
}
.contacts .friend-inner  h5 {
    font-weight: 100;
}
.friend-pic {
    grid-column: 1;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-left: 1rem;
}
.groups {
    width: 100%;
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left-style: solid;
    border-width: .1px;
    overflow-y:scroll;
    white-space: nowrap;
}
.groups-title h2{
    font-size: 1.4rem;
}
.groups .group{
    display:grid;
    grid-template-columns: .3fr 1fr;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem 0rem;
}
.groups .group:hover{
    cursor: pointer;
}
.groups .group-top {
    display: flex;
    grid-column: 2;
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;

}

.groups .group p {
    font-size: .8rem;
    color:rgb(150, 150, 150);
    font-weight: 1000;
}

.group-pic {
    grid-column: 1;
    background-color: #396FD9;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.sidebar-buttons-bot div {
    padding: 0rem .8rem;

}
.signout{
    transform: rotate(180deg);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: .1px;
    border-color: white;
}
.button:hover {
    cursor: pointer;
    background-color: #acacac67;
    transition-duration: 200ms;
}
.sidebar-buttons-bot-l{
    display: flex;
    justify-content: space-evenly;
}
.sidebar-buttons-bot-l button {
    margin: 0rem .2rem;

}
.addfriend-coll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-submit-addfriend{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friend-field {
    margin-top: .2rem;
    border-color: rgba(255, 255, 255, 0.877);
    background: none;
    border-style: none;
    border-bottom-style: solid;
    border-width: .1px;
    padding: .2rem 2rem;
    color: white;
    font-size: 0.8rem;
    width: 11rem;

}
.submit-friend {
    margin-top: .5rem;
    background:none ;
    border-style: solid;
    border-width: .1px;
    border-color: rgba(255, 255, 255, 0.562);
    padding: .2rem .5rem;
    color: white;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff23;
}
.submit-friend:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: rgba(236, 236, 236, 0.397)
}

@media screen and (max-height: 820px) {
    .sidebar-main{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }
  
    .contacts-title, .groups-title {
        margin-top:1rem;
    }
  }