.sidebar-whole {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Sidebar-header {
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: calc(93vh - 40px);
    backdrop-filter: blur(0px);
    width: calc(100% + 3rem);
    margin-top: 1.1rem;
    background-color: rgba(0, 0, 0, 0.45);

}
.sidebar-main {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}


.sidebar-settings-alert {
    position: absolute;
    bottom: 25px;
    left: 320px;
    z-index: 5000;
    font-size: 1rem;
    padding: .2rem .5rem;
    padding-left: 0;
    border-radius: .4rem;
    background-color: #6693bdde;
    color: white;
}


.seen-bg-info-btn {
    color: white;
    font-size: 1rem;
    background: none;
    border-style: none;
    border-color: white;
    margin-left: 1rem;
    border-bottom-style: solid;
}
.seen-bg-info-btn:hover {
    cursor: pointer;
    }
.sidebar-settings-alert p{
    display: flex;
    align-items: center;
}

.Sidebar-header .inner-sb{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar-buttons-bot{
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1rem;
    background-color: rgba(0, 0, 0, 0.568);
    width: calc(100% + 3rem);
    padding: 0.7rem 0rem;
    border-radius: 1.5rem;
}
.snurs {
    text-align: left;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic, .profile-pic-main {
    margin: 0rem .5rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}
.snurs-pic {
    margin: 0rem .5rem;
    border-radius: 50%;
    width: 3.5rem;
}
.profile-pic:hover {
    cursor: pointer;
}
.profile-pic-main:hover {
    transition-duration: 200ms;
    cursor: pointer;
    filter: opacity(20%);
}
.snurs-gif {
    width: 2rem;
    margin-right: 1rem;
}
.username-container {
    display: flex;
    flex-direction: column;
}
.username{
    font-size: 1.3rem;
}
.profile-tag {
    font-size: .9rem;
    text-align: center;
    color: yellow;
}
.quick-view-todo {
    user-select: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quick-view-todo .qvt-p {
    font-size: 1.1rem;
}
.quick-view-todo h2 {
    font-size: 1.15rem;
}
.quick-view-todo p {
    margin-top: 0.3rem;
    font-size: 1rem;
}
.currrent-todo {
    margin-top: 1rem;
    background-color: #396ed95b;
    border-radius: 2rem;
    padding: 0.6rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.ReactCollapse--collapse {
    transition: height 500ms;
  }
.contacts-title, .groups-title {
    width: 100%;
    font-size: 1.4rem;
    margin: 0rem 0rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.groups-title p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-title .addFriend {
    background-color: rgba(255, 255, 255, 0.349);
    border-style: solid;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 50%;
    border-color: white;
    margin-right: -2rem;
    margin-left: 2rem;
    border-width: .1px;
    width: 1.4rem;
    height: 1.4rem;
}
.contacts-title .addFriend:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: rgba(255, 255, 255, 0.671);
}
.contacts div {
    width: 100%;
}
.contacts {
    width: 100%;
    height:max-content;
    max-height: 15rem;
    min-height: 3.5rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left-style: solid;
    border-width: .1px;
    overflow-y:scroll;
    overflow-x:hidden;
    white-space: nowrap;
}
     /* Designing for scroll-bar */
     ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(220, 220, 220, 0);
        border-radius: 5px;
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.205);
        border-radius: 5px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.308);
    }
.contacts-title h2{
    font-size: 1.4rem;
}
.contacts .friend{
    display:flex;
    border-style: none;
    background: none;
    width: 100%;
}
.contacts .friend:hover{
    cursor: pointer;
}
.contacts .friend-top {
    display: flex;
    grid-column: 2;
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;

}
.friend-inner {
    display:grid;
    grid-template-columns: .3fr 1fr;
    text-align: left;
    font-size: 1.2rem;
    width: calc(100% + 7rem);
    padding: 0.5rem 0rem;
    background: none;
    color: white;
}
.contacts .friend p {
    font-size: .8rem;
    color:rgb(150, 150, 150);
    font-weight: 100;
}
.contacts .friend-inner  h5 {
    font-weight: 100;
}

.no-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.profile-pic-current {
    margin: 0rem .5rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.upload-profilePic-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.89); /*custom later */
    width: 20em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5000;
    font-size: 25px;
    text-align: center;
}
.new-pfp-inner {
    width: calc(50% + 1rem);
    padding: 0.2rem 0.5rem;
}
.new-pfp-btn-wrapper {
    display: flex;
    width: 90%;
    margin-top: 1rem;
    justify-content: space-evenly;
}
.pfp-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.submit-profile-pic {
    border-radius: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#396FD9;
    width: 50%;
    border-style: none;
    height: 2rem;
}
.new-pfp-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0000007a;
    border-radius: 1.5rem;
    width: 30%;
    border-style: solid;
    border-width: .1px;
    height: 2rem;
    font-size: 1.1rem;
    color: white;
}
.new-pfp-back-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.301);
    transition-duration: 200ms;
}
.submit-profile-pic:hover {
    cursor: pointer;
    background-color: rgb(105, 163, 238);
    transition-duration: 200ms;
}
.profile-copy-id {
    background: none;
    color: white;
    border-style: none;
    border-width: .1px;
    font-size: 1.2rem;
}
.profile-copy-id :hover{
    transition-duration: 200ms;
    color: #87a1d4;
    cursor: pointer;
}


.friend-pic-container {
    overflow: hidden;

}
.indicator-f { 
    background-clip: content-box;
    font-size: 4rem;
    position: absolute;
    left: 50px;
    background-clip: padding-box;
    color: rgb(120, 216, 107);
}

.friend-pic {
    grid-column: 1;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-left: 1rem;
    border-style: inset;
    border-width: 2px;
}
.groups {
    width: 100%;
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left-style: solid;
    border-width: .1px;
    overflow-y:scroll;
    white-space: nowrap;
}
.groups-title h2{
    font-size: 1.4rem;
}
.groups .group{
    display:grid;
    grid-template-columns: .3fr 1fr;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem 0rem;
}
.groups .group:hover{
    cursor: pointer;
}
.groups .group-top {
    display: flex;
    grid-column: 2;
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;

}

.groups .group p {
    font-size: .8rem;
    color:rgb(150, 150, 150);
    font-weight: 1000;
}

.group-pic {
    grid-column: 1;
    background-color: #396FD9;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.sidebar-buttons-bot div {
    padding: 0rem .8rem;

}
.signout{
    transform: rotate(180deg);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: .1px;
    border-color: white;
}
.button:hover {
    cursor: pointer;
    background-color: #acacac67;
    transition-duration: 200ms;
}
.sidebar-buttons-bot-l{
    display: flex;
    justify-content: space-evenly;
}
.sidebar-buttons-bot-l button {
    margin: 0rem .2rem;

}
.addfriend-coll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-submit-addfriend{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friend-field {
    margin-top: .2rem;
    border-color: rgba(255, 255, 255, 0.877);
    background: none;
    border-style: none;
    border-bottom-style: solid;
    border-width: .1px;
    padding: .2rem 2rem;
    color: white;
    font-size: 0.8rem;
    width: 11rem;

}

.submit-friend {
    margin-top: .5rem;
    background:none ;
    border-style: solid;
    border-width: .1px;
    border-color: rgba(255, 255, 255, 0.562);
    padding: .2rem .5rem;
    color: white;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff23;
}
.submit-friend:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: rgba(236, 236, 236, 0.397)
}

/* if screen size is less than 600px */
@media screen and (max-width: 800px) {
    .profile-container{
        width: 4rem;
        padding: 0;
    }
    .profile-pic-main{
        width: 3rem;
        height: 3rem;
    }
    .Sidebar-header {
        background-color: rgba(0, 0, 0, 0.568);
        display: flex;
        justify-content: space-between;
        height: calc(93vh - 40px);
        backdrop-filter: blur(0px);
        width: 4rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .sidebar-whole {
        padding: 0rem 0rem;
        width: 4rem;
    }
    .sidebar-main {
       width: 4rem;
        padding: 1rem 0rem;
        border-radius: .2rem;
    }
    .snurs {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: -0.4rem;
        padding-bottom: 0.5rem;
    }
    .snurs-gif {
        width: 1.2rem;
        margin-right: 0rem;
    }
    .profile-tag{
        font-size: 0.7rem;
    }

    .contacts-title, .groups-title, .username, .quick-view-todo p, .currrent-todo, .group-top p,.group-top h5{
        display: none;
    }

    .contacts {
        width: 4rem;
        border-style: none;
        margin: 0;
        padding: 0;
        border-bottom-style: solid;
        border-top-style: solid;
        border-color: rgba(240, 248, 255, 0.37);
    }
    .groups {
        border-style: none;
        margin-left: -.4rem;

    }
    .friend-inner .friend-top{
        display: none;
    }
    .friend {
        margin-left: 0.6rem;
    }
    .friend-pic {
        padding: 0;
        margin: 0;
    }
    .sidebar-buttons-bot-l {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 4.2rem;
    }
    .sidebar-buttons-bot {
        width: 4rem;
        flex-wrap: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex-direction: column-reverse;
    }
    
    .button {
        margin: 0.5rem 0rem;
    }
    .Sidebar-header .inner-sb{
        width: 4rem;
    }
    .groups {
        width: 4rem;
    }

}

@media screen and (max-height: 820px) {
    .sidebar-main{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }
  
    .contacts-title, .groups-title {
        margin-top:1rem;
    }
  }