* {
  padding: 0;
  margin: 0;
}
body,html {
  background-color: #1a1c22;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1c22;
  background-image: url("images/asciidog\ \(2\).PNG");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto", sans-serif;}

.login-container{
  background-color: #585f7417;
  backdrop-filter: blur(20px);
  width: calc(100% - 2vw);
  height: calc(97vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5rem;
  justify-content: center;
  z-index: 1;
}
.App-link {
  color: #61dafb;
}
.sign-in-btn {
  padding: 0.5rem 1rem;
  background: none;
  border-style: solid;
  color: white;
  border-width: 0.1px;
  border-radius: 2rem;
  font-weight: 100;
  font-size: 1.4rem;
}
.sign-in-btn:hover {
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.Home-header {
  background-color: #1a1c22;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto", sans-serif;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
